.footer .footer-inner .help dl dd .link-kakaotalk span::before
	{
	
	content: '';
	display: inline-block;
	font-size: 0;
	line-height: 0;
	color: transparent;
	overflow: hidden;
	vertical-align: middle;
}

.sp-footer-logo {
	width: 50px;
	height: 48px;
	background-position: 0 -120px;
}

 footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

 footer {
	display: block;
}


.footer {
	/* position: absolute;
	bottom: 0; */
	overflow: hidden;
	padding: 45px 0 35px;
	width: 100%;
	font-size: 12px;
	background-color: #343434;
}

.footer .footer-inner {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}

.footer .footer-inner .help {
	position: absolute;
	right: 0;
	z-index: 1;
}

.footer .footer-inner .help dl {
	overflow: hidden;
}

.footer .footer-inner .help dl dt {
	float: left;
	width: 175px;
	color: #fff;
	font-size: 17px;
	line-height: 1.3;
	letter-spacing: -0.4px;
}

.footer .footer-inner .help dl dt strong {
	margin-right: 30px;
	font-size: 17px;
}

.footer .footer-inner .help dl dt .btn-more {
	position: relative;
	display: inline-block;
	margin-top: 5px;
	padding-right: 12px;
	font-size: 12px;
	color: #898989;
}

.footer .footer-inner .help dl dt .btn-more::after {
	display: block;
	content: '';
	position: absolute;
	right: 0;
	top: 2px;
}

.footer .footer-inner .help dl dd {
	float: left;
	margin: 0;
	padding: 0;
}

.footer .footer-inner .help dl dd a {
	display: table;
	float: left;
	margin-right: 8px;
	width: 60px;
	height: 60px;
	line-height: 1.4;
	text-align: center;
}

.footer .footer-inner .help dl dd a span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.footer .footer-inner .help dl dd .link-realtime {
	color: #fff;
	background-color: #2ac1bc;
}

.footer .footer-inner .help dl dd .link-kakaotalk {
	color: #3c1e1e;
	background-color: #ffdc00;
}

.footer .footer-inner .help dl dd .link-kakaotalk span::before {
	content: '';
	display: block;
	margin: 2px auto 4px;
	width: 22px;
	height: 22px;
	background-position: -170px -160px;
}

.footer .footer-inner .help dl dd .tel {
	display: inline-block;
	padding-top: 8px;
	color: #898989;
}

.footer .footer-inner .help dl dd .tel em {
	margin-top: 4px;
	font-weight: 700;
}

.footer .footer-inner .info {
	position: relative;
	padding-left: 90px;
	color: #898989;
}

.footer .footer-inner .info .footer-logo {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 63px;
	height: 63px;
}

.footer .footer-inner .info .address {
	margin-bottom: 4px;
	font-style: normal;
	line-height: 1.4;
}

.footer .footer-inner .info .address span {
	position: relative;
	padding: 0 12px 0 6px;
}

.footer .footer-inner .info .address span:first-child {
	padding-left: 0;
}

.footer .footer-inner .info .address span:last-child {
	display: block;
	padding-left: 0;
}

.footer .footer-inner .info .address span:nth-child(1)::before, .footer .footer-inner .info .address span:nth-child(2)::before
	{
	content: '';
	position: absolute;
	top: 2px;
	right: 0;
	width: 1px;
	height: 10px;
	background-color: #898989;
	opacity: 0.5;
}

.footer .footer-inner .util {
	overflow: hidden;
	margin-bottom: 10px;
}

.footer .footer-inner .util li {
	position: relative;
	display: inline;
	padding: 0 9px 0 11px;
	vertical-align: middle;
	font-weight: 400;
}

.footer .footer-inner .util li:first-child {
	padding-left: 0;
}

.footer .footer-inner .util li:first-child a::before {
	display: none;
}

.footer .footer-inner .util li a {
	color: #f6f6f6;
}

.footer .footer-inner .util li a::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 1px;
	height: 10px;
	background-color: #898989;
	opacity: 0.5;
}

.container {
	position: relative;
	padding-bottom: 160px;
	min-width: 1080px;
	min-height: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
